*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  background-color: rgb(245, 251, 253);

}
html{

  font-size: 62.5%;
}
.App {
  text-align: center;
}
.bg-img{
  height: 80vh;
}
